<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container body-content">
        <div class="container portfolio">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <img src="../../static/images/logo.png" />
                    </div>
                </div>
            </div>
            <div class="bio-info">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bio-image rounded">
                                    <img class="col-md-12 col-lg-12 rounded-circle"
                                        width="400" height="400" src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/36270233_1798028276950160_4945274968666537984_n.jpg?_nc_cat=107&_nc_ht=scontent-sof1-1.xx&oh=62e14f850dd4100d5c7a4cbe6e057f68&oe=5D5C7FDD
                                         alt="image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="bio-content">
                            <h1>Personal Information</h1>
                            <hr class="hr">
                            <h4 class="h4">Full Name: Radoslav Rumenov Radoev</h4>
                            <h4 class="h4">Citizenship: Bulgarian</h4>
                            <h4 class="h4">Domicile: Svoge, Bulgaria</h4>
                            <h4 class="h4">Birth Date: 30.11.1998</h4>
                            <h4 class="h4">Sex: Male</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h1>Education</h1>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <table class="table table-hover table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="text-right" colspan="2">
                                                <h3><strong>Dates:</strong></h3>
                                            </td>
                                            <td class="text-left" colspan="2">
                                                <h3>September 2005 - May 2017</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="2">
                                                <h3><strong>Qualification:</strong></h3>
                                            </td>
                                            <td class="text-left" colspan="2">
                                                <h3>IT with English</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="2">
                                                <h3><strong>School/University Name:</strong></h3>
                                            </td>
                                            <td class="text-left" colspan="2">
                                                <h3>Ivan Vazov Secondary School</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="2">
                                                <h3><strong>Town/City:</strong></h3>
                                            </td>
                                            <td class="text-left" colspan="2">
                                                <h3>Svoge, Bulgaria</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="2">
                                                <h3><strong>Level of National Qualificatin:</strong></h3>
                                            </td>
                                            <td class="text-left" colspan="2">
                                                <h3>Scondary School</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="2">
                                                <h3><strong>Additional Courses:</strong></h3>
                                            </td>
                                            <td class="text-left" colspan="2">
                                                <h3>Programming Basics(C#)</h3>
                                                <h3>Programming Fundamentals Extended(C#)</h3>
                                                <h3>C# DB Fundamentals</h3>
                                                <h3>C# Fundamentals (3.0)</h3>
                                                <h3>JS Core</h3>
                                                <h3>C# Web</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="2">
                                                <h3><strong>Certificates:</strong></h3>
                                            </td>
                                            <td class="text-left" colspan="2">
                                                <h3 class="break">https://softuni.bg/certificates/details/56202/6f8d3b38</h3>
                                                <h3 class="break">https://softuni.bg/certificates/details/57960/f97434ea</h3>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h1>Personal Skills</h1>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="6">
                                                <h3><strong>Foreign Languages</strong></h3>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <th>
                                                <h3>Spoken</h3>
                                            </th>
                                            <th>
                                                <h3>Written</h3>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <h3>English</h3>
                                            </th>
                                            <td>
                                                <h4>Mid</h4>
                                            </td>
                                            <td>
                                                <h4>Mid</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>