<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Register</title>
</head>
<body>
    <form method="post" action="/register">
     
      
        <div>
            Username <input name="username" type="text"
                            placeholder="username" />
        </div>
       
        <div>
            Password <input name="password" type="password"
        placeholder="password" />
        </div>
        <div>
            Confirm Password <input name="confirmPassword" type="password"
                            placeholder="Confirm Password" />
        </div>

        <div>
            <input type="submit"  value="Register" />
        </div>
    </form>
</body>
</html>